@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

/*comman class*/
.text-cap {
  text-transform: capitalize;
}

/*=================================
  Header styling starts here
=================================*/
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*_______________________________________________*/
/*styling for login page start here*/
html,
body,
.container,
main,
.login-content {
  height: 100%;
}

.login-content .wrapper {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

/*styling for epl img start here*/
.epl-img {
  flex-basis: 40%;
}

.epl-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*styling for epl img end here*/
/*styling for login info div start here*/
.login-info {
  padding: 10px 2%;
  flex-basis: 60%;
  overflow-y: scroll;
}

h2 {
  margin-top: 25px;
  font-size: 34px;
  font-weight: 900;
  color: #350138;
}

h2::first-letter,
h3::first-letter,
h4::first-letter,
.err-span::first-letter {
  text-transform: capitalize;
}

/*styling for tab list start here*/
.tab-list {
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tab-list li {
  width: 100%;
  padding: 15px 0;
  background-color: #350138;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
}

.tab-list a {
  color: #FFF;
  text-transform: capitalize;
}

.tab-list .active-tab {
  background-color: #E90152;
}

.tab-content {
  padding: 30px 5%;
  margin-top: 25px;
  display: none;
  background-color: #E8F0FE;
  border: 1px solid #76766F;
}

/*styling for tab list end here*/
/*styling for tab content start here*/
h3 {
  font-size: 30px;
  font-weight: 600;
  color: #E90152;
}

/*styling for form start here*/
form div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form label {
  padding: 10px 0;
  color: #350138;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

form input {
  padding: 10px 2%;
  font-size: 17px;
  background-color: #E8F0FE;
  border: none;
  border-bottom: 1px solid #76766F;
}

.err-span {
  display: none;
  padding-top: 5px;
  color: #FF0000;
  font-size: 15px
}

form button {
  padding: 15px 5%;
  background-color: #350138;
  border: none;
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.5s;
}

.remember-me-checkbox,
.forgot-pswd {
  display: inline-block;
  width: 49%;
}

.remember-me-checkbox label {
  padding: 0;
}

.forgot-pswd {
  text-align: end;
}

.forgot-pswd a {
  color: #350138;
  transition: all 0.5s;
}

h4 {
  padding-bottom: 10px;
  color: #350138;
  font-size: 17px;
  font-weight: 600;
}

.pswd-msg {
  display: none;
}

.pswd-msg p {
  padding-bottom: 5px;
  color: #350138;
  font-size: 15px;
}

.pswd-msg p::before {
  padding-right: 2%;
  font-family: "fontAwesome";
  font-size: 15px;
  text-indent: 0;
}

.invalid::before {
  content: "\f00d";
  color: #350138;
}

.valid::before {
  content: "\f00c";
  color: #E90152;
}

.gender-title {
  padding: 10px 0;
  color: #350138;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

.gender-radio-grup div {
  margin: 0;
}

.gender-radio-grup label,
.gender-radio-grup input {
  padding: 0 2%;
  display: inline-block;
}

.gender-radio-grup div {
  display: flex;
  padding-bottom: 5px;
  flex-direction: row;
}

/*styling for form end here*/
/*styling for tab content end here*/
/*styling for login info div end here*/

.alert {
  padding: 30px 2%;
  margin-bottom: 15px;
  display: none;
  background-color: #E90152;
  color: #FFF;
  opacity: 1;
  transition: opacity 0.6s;
}

.alert h3 {
  color: #FFF;
  font-size: 25px;
}

.closebtn {
  margin-left: 15px;
  color: #FFF;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  float: right;
  line-height: 20px;
  transition: 0.3s;
}

.show {
  display: block;
}

/*styling for login page end here*/
/*_______________________________________________*/


/*_______________________________________________*/
/*styling for home page start here*/

.logout-btn {
  float: right;
}

/*styling for home page end here*/
/*_______________________________________________*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query to remove hover effect start here*/
@media only screen and (min-width: 995px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  .tab-list li:hover,
  form button:hover {
    background-color: #E90152;
  }

  .forgot-pswd a:hover {
    color: #E90152;
    text-decoration: underline;
  }

  .closebtn:hover {
    color: #350138;
  }

  /*styling for login page end here*/
  /*____________________________________________*/
}

/*media query to remove hover effect end here*/

/*media query for 1025px starts here*/
@media only screen and (max-width: 1025px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  h2 {
    font-size: 30px;
  }

  /*styling for login page end here*/
  /*____________________________________________*/
}

/*media query for 1025px end here*/

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  .login-content .wrapper {
    align-items: center;
    flex-direction: column;
  }

  .epl-img,
  .login-info {
    flex-basis: auto;
    width: 100%;
  }

  .epl-img img {
    height: 415px;
  }

  .login-info {
    padding: 20px 2%;
    overflow-y: visible;
  }

  .alert {
    margin: 15px 10% 0 10%;
    padding: 30px 2%;
  }

  h2 {
    font-size: 45px;
    margin: 15px 10% 0 10%;
    text-align: center;
  }

  .tab-list,
  .tab-content {
    width: auto;
    margin: 25px 10% 0 10%;
  }

  /*styling for login page end here*/
  /*____________________________________________*/
}

/*media query for 995px end here*/

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  .epl-img img {
    height: 315px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  form label,
  form input,
  form button {
    font-size: 15px;
  }

  /*styling for login page end here*/
  /*____________________________________________*/
}

/*media query for 767px end here*/

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  .epl-img img {
    height: 315px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  form label,
  form input,
  form button {
    font-size: 15px;
  }

  /*styling for login page end here*/
  /*____________________________________________*/
}

/*media query for 767px end here*/

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {

  /*____________________________________________*/
  /*styling for login page start here*/

  h3 {
    font-size: 21px;
  }

  form button {
    padding: 15px 5%;
  }

  /*styling for login page end here*/
  /*____________________________________________*/
}

/*media query for 480px end here*/