@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1920px;
  width: 86%;
  margin: 0 auto;
}

/*comman class*/
.text-cap {
  text-transform: capitalize;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*=================================
  Header styling starts here
=================================*/
/*_______________________________________________*/
/*styling for home page start here*/
header {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  z-index: 1;
}

header .wrapper {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #350138;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*styling for logo start here*/
h1 {
  padding-left: 5%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

h1 a {
  padding: 10px;
  background: #FFF;
  border-radius: 50%;
}

h1 img {
  max-width: 50px;
  max-height: 50px;
}

/*styling for logo end here*/
/*styling for hamburger start here*/
.hamburger {
  display: none;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

/*styling for hamburger end here*/
/*styling for nav start here*/
nav {
  width: 100%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  text-align: center;
}

nav li {
  margin-right: 5%;
}

nav li:last-child {
  margin: 0;
}

nav a,
.logout a {
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.active-nav-tab {
  color: #E90152;
}

/*styling for nav end here*/
/*styling for logout start here*/
.logout {
  padding-right: 5%;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.logout a::after {
  margin-left: 8%;
  content: "\f08b";
  font-family: "fontAwesome";
  text-indent: 0;
}

/*styling for logout end here*/
/*styling for home page end here*/
/*_______________________________________________*/

/*____________________________________________*/
/*styling for club page start here*/
.static {
  position: static;
}

/*styling for club page end here*/
/*____________________________________________*/
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*_______________________________________________*/
/*styling for login page start here*/


.login-content .wrapper {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/*styling for epl img start here*/
.epl-img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.epl-img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/*styling for epl img end here*/
/*styling for login info div start here*/
.login-info {
  padding: 10px 2%;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

h2 {
  margin-top: 25px;
  font-size: 35px;
  font-weight: 900;
  color: #350138;
}

h2::first-letter,
h3::first-letter,
h4::first-letter,
.err-span::first-letter {
  text-transform: capitalize;
}

h3 {
  margin-top: 25px;
  font-size: 30px;
  font-weight: 600;
  color: #E90152;
}

/*styling for form start here*/
form {
  padding: 20px 5%;
  border: 1px solid #76766F;
  margin-top: 20px;
  background-color: #E8F0FE;
}

form div {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

form label {
  padding: 10px 0;
  color: #350138;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

form input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #76766F;
  font-size: 17px;
  background-color: #E8F0FE;
  transition: all .5s ease;
}

form input:focus {
  border-bottom: 1px solid #E90152;
  outline: none;
}

.err-span {
  padding-top: 5px;
  color: #FF0000;
  font-size: 15px;
  visibility: hidden;
}

form button {
  padding: 15px 5%;
  border: none;
  background-color: #350138;
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/*styling for form end here*/
/*styling for login info div end here*/

.alert {
  padding: 30px 2%;
  margin-bottom: 15px;
  display: none;
  background-color: #E90152;
  color: #FFF;
  opacity: 1;
  -webkit-transition: opacity .6s ease;
  -o-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.alert h3 {
  color: #FFF;
  font-size: 25px;
}

.closebtn {
  margin-left: 15px;
  color: #FFF;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  float: right;
  line-height: 20px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

/*styling for login page end here*/
/*_______________________________________________*/


/*_______________________________________________*/
/*styling for home page start here*/

/*styling for slider start here*/
.slider-container {
  position: relative;
}

.slider-container .wrapper {
  width: 100%;
}

.slider-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: none;
  padding: 450px 12% 150px 7%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/sliderImg1.jpg');
}

.slide:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/sliderImg2.jpg');
}

.slide:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/sliderImg3.jpg');
}

.slide h2 {
  color: #E90152;
  font-size: 65px;
  font-weight: bolder;
  text-transform: capitalize;
}

/*styling for carousel start here*/
.carousel {
  width: 8%;
  padding: 0 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 7%;
}

.carousel a {
  padding: 0 10%;
  color: #FFF;
  text-indent: -9999px;
}

.carousel a::after {
  content: "\f111";
  font-family: "Font Awesome 6 Free";
  float: right;
  text-indent: 0;
}

.carousel .active-dot {
  color: #E90152;
}

/*styling for carousel end here*/
/*styling for slider btns start here*/
.slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 90px;
  left: 7%;
}

.slider-btns div {
  padding: 10px 65%;
  margin: 0 45%;
  border: 1px solid #FFF;
  border-radius: 50%;
}

.slider-btns a {
  color: #FFF;
  font-size: 25px;
}

/*styling for slider btns end here*/
/*styling for slider end here*/

/*styling for about epl and competition start here*/
.about-epl,
.competition-format {
  padding: 90px 0;
}

.about-epl h3,
.competition-format h3 {
  color: #350138;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.about-content,
.competition-content {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-img,
.competition-img {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-img figure,
.competition-img figure {
  max-width: 400px;
  max-height: 800px;
  -webkit-box-shadow: 20px 20px #E90152;
  box-shadow: 20px 20px #E90152;
}

.content {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

.origins,
.big-six,
.competition,
.promotion {
  max-height: 400px;
  padding: 35px 0;
  margin: 0 10%;
  position: relative;
  overflow: hidden;
  -webkit-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
}

.read-more {
  width: 100%;
  height: 60px;
  padding-top: 40px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FFF));
  background-image: -o-linear-gradient(top, transparent, #FFF);
  background-image: linear-gradient(to bottom, transparent, #FFF);
  cursor: pointer;
  text-align: center;
}

.read-more a {
  color: #350138;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.expand {
  max-height: 100%;
}

.origins h4,
.big-six h4,
.competition h4,
.promotion h4 {
  padding-bottom: 15px;
  color: #350138;
  font-size: 35px;
  font-weight: 600;
}

.origins p,
.big-six p,
.competition p,
.promotion p {
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 25px;
}

/*styling for about epl and competition end here*/
/*styling for epl landscape start here*/
.epl-banner {
  background-color: #350138;
  max-height: 250px;
  overflow: hidden;
}

.epl-banner div {
  padding: 120px 0;
  background-image: url(../images/EPLTransparentLogo.png);
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

/*styling for epl landscape end here*/

/*styling for home page end here*/
/*_______________________________________________*/

/*____________________________________________*/
/*styling for clubs page start here*/
.clubs-section,
.match-details-section {
  position: relative;
}

.clubs-btn,
.matches-btn {
  margin-top: 25px;
  color: #350138;
  font-size: 60px;
  font-weight: 600;
}

.clubs-btn button,
.matches-btn button {
  border: none;
  background-color: #FFF;
  color: #350138;
  font-size: 60px;
  font-weight: 600;
  text-transform: capitalize;
}

.clubs-btn span,
.matches-btn span {
  margin-left: 1%;
  display: inline-block;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all .5s ease;
}

.clubs-list,
.matches-list {
  width: 50%;
  display: none;
  position: absolute;
  background-color: #350138;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.clubs-list li,
.matches-list li {
  padding: 10px 0;
  border-bottom: 1px solid #FFF;
  text-align: center;
}

.clubs-list a,
.matches-list a {
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  color: #FFF;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.club-list-container,
.matches-list-container {
  background-color: rgba(0, 0, 0, 0.5);
}

.show-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clubs-btn .rotate,
.matches-btn .rotate {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.club-banner figure,
.matches-banner figure {
  max-height: 550px;
  overflow: hidden;
}

.club-banner img,
.matches-banner img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.club-info-container,
.matches-info-container {
  padding: 50px 0;
  display: none;
}

.display-info,
.display-matches-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.display-info li,
.display-matches-info li {
  padding: 30px 5%;
  border: 1px solid #76766F;
  margin: 30px 2% 0 2%;
  display: none;
  -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  background-color: #E8F0FE;
  -ms-flex-preferred-size: 25%;
  flex-basis: 100%;
}

.display-info .show,
.display-matches-info .show {
  display: block;
}

.cd-heading,
.cd-score {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cd-heading h4 {
  padding: 0 4%;
  color: #E90152;
  font-size: 20px;
}

.club-name {
  margin: 0;
  color: #350138;
  font-size: 35px;
  text-align: center;
}

.cd-score span {
  padding: 0 4%;
  color: #350138;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

.cd-score a {
  padding: 0 4%;
  border: 1px solid transparent;
  color: #350138;
  transition: all .5s ease;
}

.cd-score p:nth-child(2) {
  color: #E90152;
}

.show-more {
  padding: 20px 2%;
}

.show-more a {
  display: none;
  color: #350138;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.show-more .show {
  display: block;
}

.show-more .hide {
  display: none;
}

/*styling for clubs page end here*/
/*____________________________________________*/

/*comman important clasess start here*/
.full-height {
  width: 100%;
  height: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  -webkit-animation: fadeInOut 1s ease forwards;
  animation: fadeInOut 1s ease forwards;
}

.visible {
  visibility: visible;
}

/*comman important clasess end here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
/*_______________________________________________*/
/*styling for home page start here*/
footer {
  background-color: #350138;
  color: #FFF;
}

.upper-footer,
.lower-footer {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #FFF;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*styling for footer logo start here*/
.footer-logo a {
  padding: 10px;
  background: #FFF;
  border-radius: 50%;
}

.footer-logo img {
  max-width: 50px;
  max-height: 50px;
}

/*styling for footer logo end here*/
/*styling for footer nav start here*/
.footer-nav {
  width: 100%;
  text-align: end;
}

.footer-nav li {
  margin-right: 5%;
}

.footer-nav li:last-child {
  margin: 0;
}

.footer-nav a {
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*styling for footer nav end here*/
/*styling for lower footer start here*/
.lower-footer {
  border: none;
}

.lower-footer a {
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

/*styling for social list start here*/
.social-list {
  width: 15%;
}

.social-list li {
  margin-right: 10%;
}

.social-list li:last-child {
  margin: 0;
}

.social-list a {
  text-indent: -9999px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.social-list a::after {
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
}

.social-list li:nth-child(1) a::after {
  content: "\f09a";
}

.social-list li:nth-child(2) a::after {
  content: "\f099";
}

.social-list li:nth-child(3) a::after {
  content: "\f17d";
}

.social-list li:nth-child(4) a::after {
  content: "\f16d";
}

/*styling for social list end here*/
/*styling for lower footer end here*/

/*animation start here*/
@-webkit-keyframes scaleBig {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

}

@keyframes scaleBig {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

}

/*styling for home page end here*/
/*_______________________________________________*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query to remove hover effect start here*/
@media only screen and (min-width: 995px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  .tab-list li:hover,
  form button:hover {
    background-color: #E90152;
  }

  .forgot-pswd a:hover {
    color: #E90152;
    text-decoration: underline;
  }

  .closebtn:hover {
    color: #350138;
  }

  /*styling for login page end here*/
  /*____________________________________________*/

  /*_______________________________________________*/
  /*styling for home page start here*/
  nav a:hover,
  .logout a:hover,
  .footer-nav a:hover,
  .cd-score a:hover {
    color: #E90152;
    border-bottom: 1px solid #E90152;
  }

  .slider-btns div:hover {
    border: 1px solid #E90152;
  }

  .slider-btns a:hover {
    color: #E90152;
  }

  .read-more a:hover,
  .copy-right:hover,
  .show-more a:hover {
    color: #E90152;
    text-decoration: underline;
  }

  .social-list a:hover {
    color: #E90152;
    -webkit-animation: scaleBig 0.5s ease forwards;
    animation: scaleBig 0.5s ease forwards;
  }

  /*styling for home page end here*/
  /*_______________________________________________*/

  /*_______________________________________________*/
  /*styling for club page start here*/

  .clubs-list a:hover {
    border-bottom: 1px solid #E90152;
    color: #E90152;
    cursor: pointer;
  }

  /*styling for club page end here*/
  /*_______________________________________________*/
}

/*media query to remove hover effect end here*/


/*media query for 1210px starts here*/
@media only screen and (max-width: 1210px) {

  /*____________________________________________*/
  /*styling for home page start here*/
  .slide h2 {
    font-size: 45px;
  }

  .slide {
    padding: 400px 12% 150px 7%;
  }

  /*styling for home page end here*/
  /*____________________________________________*/
}

/*media query for 1210px end here*/

/*media query for 1025px starts here*/
@media only screen and (max-width: 1025px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  h2 {
    font-size: 30px;
  }

  /*styling for login page end here*/
  /*____________________________________________*/

  /*____________________________________________*/
  /*styling for home page start here*/
  .slide {
    padding: 350px 12% 150px 7%;
  }

  /*styling for home page end here*/
  /*____________________________________________*/


}

/*media query for 1025px end here*/

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  .login-content .wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .epl-img,
  .login-info {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100%;
  }

  .epl-img img {
    height: 415px;
  }

  .login-info {
    padding: 20px 2%;
    overflow-y: visible;
  }

  .alert {
    margin: 15px 10% 0 10%;
    padding: 30px 2%;
  }

  h2 {
    font-size: 45px;
    margin: 15px 10% 0 10%;
    text-align: center;
  }

  .tab-list,
  .tab-content {
    width: auto;
    margin: 25px 10% 0 10%;
  }

  /*styling for login page end here*/
  /*____________________________________________*/

  /*____________________________________________*/
  /*styling for home page start here*/
  .slide {
    padding: 300px 12% 150px 7%;
  }

  .slide h2 {
    margin: 0;
    font-size: 35px;
    text-align: start;
  }

  h1 {
    padding-left: 6%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .hamburger {
    padding-left: 5%;
    display: block;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .hamburger:hover+nav {
    display: block;
  }

  .bar,
  .bar:before,
  .bar:after {
    width: 25px;
    height: 3px;
    display: block;
    position: relative;
    background-color: #E90152;
    text-indent: -9999px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .bar:before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
  }

  .bar:after {
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
  }

  nav {
    width: 0;
    height: 100%;
    display: none;
    position: fixed;
    top: 110px;
    left: 0;
    background-color: #350138;
    color: #FFF;
    overflow-x: hidden;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    opacity: 0.5;
    z-index: 1;
  }

  nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #FFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  nav li {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #FFF;
    color: #350138;
    text-align: center;
  }

  nav a {
    width: 100%;
    color: #FFF;
    font-size: 20px;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  /*styling for animated nav start here*/
  .active-html {
    overflow-y: hidden;
  }

  .active-ham {
    position: static;
    z-index: 1;
    left: 10px;
  }

  .active-nav {
    width: 100%;
    display: block;
    color: #E90152;
    opacity: 1;
  }

  .active-ham .bar {
    background-color: transparent;
  }

  .active-ham .bar:before {
    top: 0;
    background: #E90152;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  .active-ham .bar:after {
    top: 0;
    background: #E90152;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /*styling for animated nav end here*/

  .content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .about-img,
  .competition-img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .about-content,
  .competition-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-epl,
  .competition-format {
    padding: 70px 0;
  }

  .origins p,
  .big-six p,
  .competition p,
  .promotion p {
    font-size: 20px;
    line-height: 30px;
  }

  .read-more a,
  .logout a,
  .footer-nav a,
  .lower-footer a {
    font-size: 20px;
  }

  .competition,
  .promotion {
    max-height: 100%;
  }

  .social-list {
    width: 25%;
  }

  /*styling for home page end here*/
  /*____________________________________________*/
}

/*media query for 995px end here*/

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {

  /*____________________________________________*/
  /*styling for login page start here*/
  .epl-img img {
    height: 315px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  form label,
  form input,
  form button {
    font-size: 15px;
  }

  /*styling for login page end here*/
  /*____________________________________________*/

  /*____________________________________________*/
  /*styling for home page start here*/
  .about-epl,
  .competition-format {
    padding: 40px 0;
  }

  .about-epl h3,
  .competition-format h3 {
    font-size: 40px;
  }

  .origins h4,
  .big-six h4,
  .competition h4,
  .promotion h4 {
    font-size: 30px;
  }

  .about-content,
  .competition-content {
    margin: 0;
  }

  .competition,
  .promotion {
    padding: 10px 0;
  }

  .footer-nav {
    width: 100%;
    text-align: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-nav li {
    margin-right: 0;
  }

  .social-list {
    width: 30%;
  }

  .upper-footer,
  .lower-footer {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-nav {
    padding-top: 20px;
    text-align: center;
  }

  .social-list {
    width: 100%;
    padding-top: 20px;
    text-align: center;
  }

  /*styling for home page end here*/
  /*____________________________________________*/

}

/*media query for 767px end here*/

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {

  /*____________________________________________*/
  /*styling for login page start here*/

  h3 {
    font-size: 21px;
  }

  form button {
    padding: 15px 5%;
  }

  /*styling for login page end here*/
  /*____________________________________________*/

  /*____________________________________________*/
  /*styling for home page start here*/
  .about-img figure,
  .competition-img figure {
    max-width: 350px;
    max-height: 500px;
  }

  /*styling for home page end here*/
  /*____________________________________________*/
}

/*media query for 480px end here*/